@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Site Under Development</h1>
    <p>
        Please, send SMS or come again later :)
    </p>
    <button>Send SMS</button>
    <button>come again</button>
</div>
